<div class="card listing" id="e{{id}}" style="background-image: url('/img/{{image}}');">

  <div class="card-inner">
    <div id="title">{{title}}</div>
    <div id="type">Tipo evento: {{type}}</div>

    <div id="datetime"><i class="fa-solid fa-calendar-days"></i> {{datetime}}</div>
    {{#if available}}
    <div id="seats"><i class="fa-solid fa-chair"></i> Posti disponibili: {{seats}}</div>
    {{/if}}

    <!-- Informazioni aggiuntive -->
    <div id="location"><i class="fa-solid fa-map-location-dot"></i> {{location}}</div>
    <div id="organizer"><i class="fa-solid fa-user-tag"></i> {{organizer}}</div>

    <hr class="my-1">
    <p id="desc">{{description}}</p>
    
    <!-- Messaggio di errore -->
    <div class="mt-2 text-danger" id="message"></div>

    <!-- Pulsanti -->
    <div class="buttons-par">
      {{#if available}}
        {{#if prenotato}}
        <button class="btn btn-prenotato" disabled>Prenotato</button>
        {{else}}
        <button id="prenota" class="btn btn-prenota" onclick="prenota({{id}})">Prenota</button>
        {{/if}}
      {{/if}}
    </div>
  </div>

</div>